<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Functional">

<listeners>
	<listener class-name="pkgListners.Listners"></listener>
</listeners>


  <test  name="Test1">
    <classes>
      <class name="testcasses.Test1"/>
    </classes>
  </test>
  
    <test  name="Test2">
    <classes>
      <class name="testcasses.Test2"/>
    </classes>
  </test>
  
  
    <test  name="Test3">
    <classes>
      <class name="testcasses.Test3"/>
    </classes>
  </test>
  
   <!-- Test -->
</suite> <!-- Functional -->
